In [5]:
#coding=utf8

In [6]:
import pandas as pd

In [7]:
import numpy  as np

In [8]:
from pandas import Series,DataFrame

In [15]:
df=DataFrame({'key1':['a','a','b','b','a'],
              'key2':['one','two','one','two','one'],
              'data1':np.random.randn(5),
              'data2':np.random.randn(5)})

In [16]:
df

      data1     data2 key1 key2
0  1.066790 -0.326078    a  one
1 -1.271017  0.561400    a  two
2 -1.807158  0.213257    b  one
3 -0.014317  0.957588    b  two
4 -0.413364  1.565046    a  one

In [17]:
grouped=df['data1'].groupby(df['key1'])

In [21]:
grouped.mean()

key1
a   -0.205864
b   -0.910738
Name: data1, dtype: float64

In [23]:
means=df['data1'].groupby([df['key1'],df['key2']]).mean()

In [24]:
means

key1  key2
a     one     0.326713
      two    -1.271017
b     one    -1.807158
      two    -0.014317
Name: data1, dtype: float64